<?xml version="1.0" encoding="UTF-8"?>
<launch>
        
        <!-- include file="$(find lidar_navigation)/launch/rplidar.launch"/-->
        
        <!-- Parametres noeud navigation -->
        <param name="servo_zero" value="52" />
        <param name="servo_left" value="80" />
		<param name="servo_right" value="30" />
		<param name="left_limite" value="0.4" />
		<param name="right_limite" value="-0.4" />
		<param name="esc_vmax" value="60" />
		<param name="esc_vmin" value="20" />
		<param name="seuil_distance" value="8.0" />
		<param name="seuil_obstacle" value="0.3" />
		<param name="frequence_nav" value="1" />
		<param name="topic_data" value="/ScannerData"/>
		
		<!-- Parametres noeuds calcul des distances -->
		<param name="nb_angles" value="16" />
		<param name="lim_angle" value="100" />
		<param name="wide" value="8" />
		<param name="dist_max" value="10.0" />
		<param name="dist_min" value="0.15" />
		<param name="topic_scan" value="/scan"/>
		
		<!-- Parametres pour la liaison de communication securite -->
		<param name="stop_value" value="0"/>
        
        <!--node pkg="lidar_navigation" name="lidar_moyennes" type="lidar_moyennes.py" /-->
        
        <!--node pkg="lidar_navigation" name="lidar_nav" type="lidar_nav_v2.py" /-->

		<!--node pkg="lidar_navigation" name="quit" type="quit.py" output="screen" required="true" /-->

		<node pkg="lidar_navigation" name="simu_lidar" type="SIMU_dir.py" output="screen" required="true" />
		<!--node pkg="lidar_navigation" name="simu_vitesse" type="SIMU_vit.py" /-->
	
</launch>
